<ul id="comments" class="comments">
  <li class="comment">
    <div class="clearfix">
      <p>
      <hr>
        <em><%= comment.body %></em>
        <%= link_to t('Reply'), new_post_comment_path(comment.post, parent_id: comment), remote: true,
                                           class:'btn btn-info btn-xs'%>
      </p>
      <p class="pull-right">
        <span class="glyphicon glyphicon-time"></span>
        <%= time_ago_in_words(comment.created_at) %><%= t('ago') %> <br>
        <span class="glyphicon glyphicon-user"></span>
        <%= comment.user.first_name %> <%= comment.user.last_name %></p>

      <p class="pull-left">
         <p><%= link_to like_post_comment_path(comment.post, comment), class: 'vote_link',remote: true, method: :put do %>
              <%= image_tag('upvote.png', size: '30') %>
               <span id="upvote_comment_<%= comment.id %>"><%= comment.get_upvotes.size %></span>
           <%	end  %>

            <%= link_to unlike_post_comment_path(comment.post, comment), class: 'vote_link', remote: true, method: :put do %>
                <%= image_tag('downvote.png', size: '30') %>
               <span id="downvote_comment_<%= comment.id %>"><%= comment.get_downvotes.size %></span>
            <%	end  %></p>

            <a href="singlepost.html" class="text-left">
            <% if comment.user_id == current_user.id %>
                <%= link_to t('edit'), edit_post_comment_path(comment.post, comment), class: 'btn btn-default btn-xs' %>
                <%= link_to t('delete'), post_comment_path(comment.post, comment), class: 'btn btn-default btn-xs',
                                method: :delete, data: { confirm: t('Are you sure?') } %>
            <% end %>
            </a>
    </div>

    <div class="reply_form_<%= comment.id%> hidden_com_form" id="reply_<%= comment.id%>">
      <%= render 'comments/form' %>
    </div>
    <div></div>
  </li>
  <!--</ul>-->
