<tr>
  <td class="large_image"><%= image_tag post.image.url(:thumb) if post.image? %></td>
  <td class="table_title"><%= post.title %></td>
  <td class="table_body"><%= truncate(post.body, length: 30) %></td>
  <td class="table_user"><%= post.user.first_name %> <%= post.user.last_name %></td>
  <nav><td ><%= link_to t('show'), post_path(post) %><br>
    <% if post.user.id == current_user.id %>
        <%= link_to t('edit'), edit_post_path(post) %><br>
        <%= link_to t('delete'), post_path(post),
                    method: :delete, data: { confirm: t('Are you sure?') } %></td></nav>
    <% end %>
    <tr>
      <th></th>
      <td class="post_created"><%= t('post_created') %><%= l post.created_at, format: :long %></td>
    </tr>
    <tr>
      <th></th>
      <% if post.comments.count >= 1 %>
          <td class="comments-link" class="comments"> <%= link_to( image_tag('comments.jpg', size: '30')) %> <%= post.comments.count %></td>
      <% else %>
          <td class="no_comments" > <%= image_tag('comments.jpg', size: '30') %> <%= post.comments.count %></td>
      <% end %>
    </tr>
</tr>

<!--postuserfirstname/ postcomments-->