<article id="post_<%= post.id %>">
    <h1><%= post.title %></h1>
    <div class="row">

      <div class="group1 col-sm-9 col-md-9">
        <span class="glyphicon glyphicon-user "></span>
        <%= post.user.first_name %> <%= post.user.last_name %>
      </div>

      <span class="glyphicon glyphicon-time"></span>
      <%= l post.created_at, format: :long %>
    </div>
    <hr>

    <img class="large_image" class="img-responsive">
    <%= image_tag post.image.url(:large) if post.image? %>
    <br><br>
    <p class="lead"><%= post.body %></p>
</article>



