	<!--<p id="notice"><%= notice %></p>-->

<div id="heading">
  <h1><%= t('Edit Your Post') %></h1>
</div>
<%= render 'form', post: @post %><br>
<tr>
  <nav>
    <td><%= link_to t('show'), post_path %></td> |
    <td><%= link_to t('Back'), posts_path %></td>
  </nav>
</tr>