<p id="notice"><%= notice %></p>

<div id="heading">
  <h1><%= t('posts_list') %></h1>
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th><%= t('title') %></th>
    <th><%= t('content') %></th>
    <th><%= t('user') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <p class="index_top"></p>
  <tbody id='posts_list'>
      <%= render @posts %>
  </tbody>
</table>
<br>
<nav><%= link_to t('new_post'), new_post_path, id: 'new_post_link', remote: true %></nav>
<p class="index_bottom"></p>
