<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="text-center"><%= t('posts_list') %></h1>
    <div class="row" >
      <div class="col-md-9 col-sm-9 col-xs-9" id="posts_list"><%= render @posts %>

        <nav><%= link_to t('new_post'), new_post_path %></nav>
        <%= will_paginate @posts %>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t('Recomended Posts') %></h4>
          </div>
            <% @side_list.each do |post| %>
              <ul class="list-group">
                <li class="list-group-item"><%= link_to (post.title), post %></li>
              </ul>
              <% end %>
        </div>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newPost">
          Посмотреть демо
        </button>

        <!-- Modal -->
        <div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%= t('Create a New Post') %></h4>
              </div>
              <div class="modal-body">
                <%= render 'form', post: @post %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

