<p id="notice"><%= notice %></p>

<div id="heading">
  <h1><%= t('posts_list') %></h1>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= t('title') %></th>
      <th><%= t('content') %></th>
      <th><%= t('user') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td id="large_image"><%= image_tag post.image.url(:thumb) if post.image? %></td>
        <td id="table_title"><%= post.title %></td>
        <td id="table_body"><%= post.body %></td>
        <td id="table_user"><%= post.user.first_name %> <%= post.user.last_name %></td>
        <nav><td ><%= link_to t('show'), post_path(post) %></td>
        <% if post.user.id == current_user.id %> 
        <td><%= link_to t('edit'), edit_post_path(post) %></td>
        <td><%= link_to t('delete'), post_path(post), method: :delete, data: { confirm: t('Are you sure?') } %></td></nav>
          <% end %>
          <tr>
            <th class='post_created' ><%= t('post_created') %></th>
              <td id="post_created"><%= l post.created_at, format: :long %></td>
          </tr>
          <tr>
            <th class='post_created' ><%= t('comments')%></th>
              <td id="post_created"><%= post.comments.count %></td>
          </tr>
    <% end %>
  </tbody>
</table>
<br>  
<nav><%= link_to t('new_post'), new_post_path %></nav>

