        <p id="notice"><%= notice %></p>

<div id="heading">
  <h1><%= t('Closer look at the post') %></h1>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= t('title') %></th>
      <th><%= t('content') %></th>
    </tr>
  </thead>
  <tbody>
     <tr>
        <td id="thumb_image"><%= image_tag @post.image.url(:large) if @post.image? %></td>
        <td id="post_title"><%= @post.title %></td>
        <td id="post_body"><%= @post.body %></td>

       <td><% if @post.user.id == current_user.id %>
            <%= link_to t('edit'), edit_post_path %><br>
        <% end %>
        <%= link_to t('home'), posts_path %></td>
     </tr>
     <tr>
       <th></th>
       <td id="post_created"><%= t('post_created') %> <%= l @post.created_at, format: :long %></td>
     </tr>
  </tbody>
</table>
        <p><%= link_to  t('Number of comments') , '#' %>: <%= @post.comments.count %></p>
<section id="comments_section">
  <ol id="comments">
     <%= render 'comments/comment' %>
  </ol>
</section>