<p id="notice"><%= notice %></p>

<div id="heading">
  <h1><%= t('Closer look at the post') %></h1>
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th><%= t('title') %></th>
    <th><%= t('content') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="thumb_image"><%= image_tag @post.image.url(:large) if @post.image? %></td>
    <td class="post_title"><%= @post.title %></td>
    <td class="post_body"><%= @post.body %></td>

    <nav><td> <%= link_to t('home'), posts_path %>
        <% if @post.user.id == @current_user.id %>
          <%= link_to t('edit'), edit_post_path(@post) %><br>
          <%= link_to t('delete'), post_path(@post),
                    method: :delete, data: { confirm: t('Are you sure?') } %></td></nav>
        <% end %>
  </tr>
  <tr>
    <th></th>
    <td class="post_created"><%= t('post_created') %> <%= l @post.created_at, format: :long %></td>
  </tr>
  </tbody>
</table>

<%= render 'comments/comment' %>




