        <p id="notice"><%= notice %></p>

<div id="heading">
  <h1><%= t('Closer look at the post') %></h1>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('title') %></th>
      <th><%= t('content') %></th>
    </tr>
  </thead>
  <tbody>
     <tr>
        <td id="post_title"><%= @post.title %></td>
        <td id="post_body"><%= @post.body %></td>

        <td><%= link_to t('All posts'), posts_path %></td>
        <% if @post.user.id == current_user.id %> 		
 		      <td><%= link_to t('edit'), edit_post_path %></td>
        <% end %>
     </tr>
     <tr>
       <th class='post_created' ><%= t('post_created') %></th>
       <td id="post_created"><%= l @post.created_at, format: :long %></td>
     </tr>
  </tbody>
</table>
        <%= render 'comments/comment' %>