<p id="notice"><%= notice %></p>

<div id="heading">
  <h1>Closer look at the post</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
     <tr>
        <td id="post_title"><%= @post.title %></td>
        <td id="post_body"><%= @post.body %></td>
        <nav><td><%= link_to 'All posts', posts_path %></td>
        <% if @post.user.id == current_user.id %> 		
 		<td><%= link_to 'Edit', edit_post_path %></td> 
		<% end %>
		</nav>			 
     </tr>
  </tbody>
</table>